<div class="container">
  <!-- <header class="header"> Header </header> -->

  <!--
    SIDE BAR IZQUIERDO
  -->
  <app-side-bar-izq></app-side-bar-izq>

  <main class="main-content">
    <div class="nav"></div>
    <div class="main-encuestas">
      <h1 class="encuestasTitulo"><b>Crear Encuesta</b></h1>
      <div class="encuestas">
        <div class="crear-encuesta">
          <div class="row">
            <div style="padding-bottom: 20px; font-size: x-large">
              A continuación, debe rellenar todos los datos e información
              solicitada para crear su encuesta.
            </div>
            <form [formGroup]="formFormulario" id="formulario" (ngSubmit)="saveData()" (ngSubmit)="formFormulario.reset" novalidate>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Titulo</label>
                <div class="col-sm-10">
                  <input formControlName="titulo" type="text" class="form-control"  placeholder="Titulo">
                  <div *ngIf="formFormulario.get('titulo')?.errors &&(formFormulario.get('titulo')?.touched
                      || formFormulario.get('titulo')?.dirty)"
                      class="alert alert-danger">El Titulo del Formulario es obligatorio.
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sub Tipo</label>
                <div class="col-sm-10">
                    <select formControlName="sub_tipo" class="form-select" name="languages" id="lang" style="width: 255px; margin-top: 7px; padding-top: 2px;
                    padding-bottom: 3px;">
                      <option value="">Selecciona</option>
                      <option value="encuesta de tesis">Encuesta de Tesis</option>
                      <option value="encuesta de asignatura">Encuesta de Asignatura</option>
                      <option value="Otros">Otros</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Sexo Dirigido</label>
                <div class="col-sm-10">
                    <select formControlName="sexo_dirigido" class="form-select" name="languages" id="lang" style="width: 255px; margin-top: 11px; padding-top: 2px;
                     padding-bottom: 3px;">
                      <option value="">Selecciona</option>
                      <option value="Todos">Todos</option>
                      <option value="masculino">Masculino</option>
                      <option value="femenino">Femenino</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Carrera</label>
                <div class="col-sm-10">
                    <select formControlName="carrera" class="form-select" name="languages" id="lang" style="width: 255px; margin-top: 8px;  padding-top: 2px;
                    padding-bottom: 3px;">
                      <option value="">Selecciona</option>
                      <option value={{item}} *ngFor="let item of carreras">{{item}}</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Descripcion</label>
                <div class="col-sm-10">
                  <textarea formControlName="descripcion" class="form-control" rows="3" cols="40" placeholder="Escribe aquí tu descripcion"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Url</label>
                <div class="col-sm-10">
                  <input formControlName="url" type="url" class="form-control" placeholder="Url">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Fecha de Vencimiento</label>
                <div class="col-sm-3">
                  <input formControlName="fecha_vencimiento" type="date" class="form-control" placeholder="Fecha de Vencimiento">
                </div>
              </div>
              <div style="padding-left: 340px;" class ="botones">
                <button type="submit" [disabled]="!formFormulario.valid" style="margin-right: 10px;" class="btnAceptar btn">Enviar Solicitud</button>
                <button type="button" class="btn btnCancelar">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <app-modal-add></app-modal-add>
    </div>
  </main>
  <!--
    SIDE BAR DERECHO
  -->
  <app-side-bar-der></app-side-bar-der>
  <!--
    FOOTER
   -->
  <footer class="footer"></footer>
</div>
