<div class="container">
    <!-- <header class="header"> Header </header> -->

    <!--
        SIDE BAR IZQUIERDO
      -->
    <app-side-bar-izq></app-side-bar-izq>

    <main class="main-content">
      <div class="nav"></div>
      <div class="main-encuestas">
        <h1 class="encuestasTitulo"><b>Encuestas Disponibles</b></h1>

        <input type="text" placeholder="Buscar "  style="margin-left: 5px; border-radius: 10px;  font-size: large; border-color: #e1e1e1;"
        [(ngModel)]="listFilter"/> <i class="fa fa-search" aria-hidden="true" style="margin-left: 5px;"></i>

        <div style="text-align: right">
          <pagination-controls previousLabel="Anterior"
          nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
        </div>
          <div class="encuesta" *ngFor="
              let formulario of this.formularioService.filteredEncuestas
                | paginate: { itemsPerPage: 4, currentPage: p, totalItems: total }
            ">
            <div class="row">
              <div class="col-8">
                <h3>{{ formulario.titulo }}</h3>
                <p>
                  {{ formulario.descripcion }}
                </p>
                <a class="date">{{
                  formulario.fecha_vencimiento | date: "dd/MM/yyyy"
                  }}</a>
              </div>
              <div class="col-4 botones">
                <a class="departamentoEncuesta">{{ formulario.tipo_formulario }}</a>
                <button type="button" class="btn btnAceptar" [routerLink]="['/respoderEncuesta', formulario.id]">
                  Responder
                </button>
                <br />
                <button type="button" class="btn btnCancelar">Ignorar</button>
              </div>
            </div>
          </div>
      </div>
    </main>
    <!--
        SIDE BAR DERECHO
      -->
    <app-side-bar-der></app-side-bar-der>
    <!--
        FOOTER
       -->
    <footer class="footer"></footer>
  </div>
