<aside class="side-bar">
  <img class="logoUbb" src="../assets/Escudo color gradiente 2.png" routerLink="/" />

  <div class="row" id="body-row">
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
      <ul class="list-group">
        <a href="#submenu1" data-toggle="collapse" aria-expanded="true" style="width: 300px; background-color: #cbdcf8"
          class="list-group-item list-group-item-action flex-column align-items-start ">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="menu-collapsed" style="color: black">Actividades Disponibles</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <div id="submenu1" class="collapse show sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action text-white"
            style="width: 300px; background-color: #eaf2ff">
            <span class="menu-collapsed" style="color: gray">Encuestas de Tesis</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action text-white"
            style="width: 300px; background-color: #eaf2ff">
            <span class="menu-collapsed" style="color: gray">Encuestas de Asignaturas</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action text-white"
          style="width: 300px; background-color: #eaf2ff">
          <span class="menu-collapsed" style="color: gray">Formularios Disponibles</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action text-white"
        style="width: 300px; background-color: #eaf2ff">
        <span class="menu-collapsed" style="color: gray">Formularios Finalizados</span>
      </a>
          <a href="#" class="list-group-item list-group-item-action text-white"
          style="width: 300px; background-color: #eaf2ff">
          <span class="menu-collapsed" style="color: gray">Conversatorios y Charlas</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action text-white"
        style="width: 300px; background-color: #eaf2ff">
        <span class="menu-collapsed" style="color: gray">Cursos Disponibles</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action text-white"
      style="width: 300px; background-color: #eaf2ff">
      <span class="menu-collapsed" style="color: gray">Cursos Finalizados</span>
    </a>
      <a href="#" class="list-group-item list-group-item-action text-white"
      style="width: 300px; background-color: #eaf2ff">
      <span class="menu-collapsed" style="color: gray">Concursos Disponibles</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action text-white"
    style="width: 300px; background-color: #eaf2ff">
    <span class="menu-collapsed" style="color: gray">Concursos Finalizados</span>
  </a>
          <a routerLink="/encuestas" class="list-group-item list-group-item-action text-white"
            style="width: 300px; background-color: #eaf2ff">
            <span class="menu-collapsed" style="color: gray">Ver Todo</span>
          </a>
        </div>
      </ul>
    </div>
  </div>
  <script>



  </script>
</aside>
